@model Kisiler
@{
    ViewBag.Title = "Kişi Sil";
}

<h2>Kisi Sil</h2>
<hr />
<p>Aşağıdaki Kişi Silinecektir !</p>
@using (Html.BeginForm())
{
<table>
    <tr>
        <td><b>Ad:</b></td>
        <td><b>@Model.Ad</b></td>
    </tr>
    <tr>
        <td><b>Soyad:</b></td>
        <td><b>@Model.Soyad</b></td>
    </tr>
    <tr>
        <td><b>Yaş:</b></td>
        <td><b>@Model.Yas</b></td>
    </tr>
</table>
    <div class="input-group">

        <input type="submit" value="Sil" class="btn btn-danger" />


    </div>
    
}


